html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

#main-menu {
  background-color: #404040;
  width:10%;
  height:100%;
  float:left;

}

#map{
  height:100%;
}


#main-menu{
  position:absolute;
  right: 10px;
  bottom: 10px;
  font-family: 'Roboto', sans-serif;

}

ul {
  list-style-type: none;
}
ul li {
  display: block;
  text-decoration: none;
  color: #000000;
  background-color: #FFFFFF;
  line-height: 30px;
  border-bottom: solid 1px #CCCCCC;
  padding: 0 10px;
  cursor: pointer;
}
.menu-button:hover {
  color: #FFFFFF;
  background-color: #2C70ED;
}



.wikiArticle{
  width:200px;
}
