html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

#main-menu {
  background-color: #404040;
  width:20%;
  height:100%;
  float:left;

}

#map{

height:100%;
width:80%;
float:left;


position: relative;
}

.selected, ul li:hover {
  color: #FFFFFF;
  background-color: #2C70ED;
